{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["java", "markup", "yaml", "clike", "javascript", "json", "graphql", "sql", "yaml"],
        "plugins": ["line-numbers", "highlight-keywords"],
        "theme": "default",
        "css": true
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "not dead"
          ]
        }
      }
    ]
  ]
}
