<div class="container">
  <div class="row">
    <div id="exampleCode" class="col-md-12" style="min-height: 620px; margin-top:50px;">
      		<h1>Example code</h1>

          	<ul class="nav nav-tabs" data-tabs="tabs">
	            <li class="active"><a data-toggle="tab" href="#hello_world_java">OrderResource.java</a></li>
	            <li><a data-toggle="tab" href="#hello_world_xml">pom.xml</a></li>
	        </ul>
      		<div class="tab-content">
	            <div class="tab-pane active" id="hello_world_java">
	              	<pre><code class="language-java">
@Path("/orders")
@Produces(MediaType.APPLICATION_JSON)
@Consumes(MediaType.APPLICATION_JSON)
@RequestScoped
public class OrdersResource {

    @PersistenceContext(unitName = "books")
    private EntityManager em;

    @GET
    @Path("/{id}")
    public Response getOrder(@PathParam("id") Integer id) {

        BookOrder o = em.find(BookOrder.class, id);

        if (o == null)
            return Response.status(Response.Status.NOT_FOUND).build();

        return Response.ok(o).build();
    }
}
					</code></pre>
	            </div>
            	<div class="tab-pane" id="hello_world_xml">
					<pre><code class="language-markup">
&lt;properties&gt;
    &lt;kumuluz.version&gt;2.3.0&lt;/kumuluz.version&gt;
&lt;/properties&gt;

&lt;dependencyManagement&gt;
    &lt;dependencies&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;com.kumuluz.ee&lt;/groupId&gt;
            &lt;artifactId&gt;kumuluzee-bom&lt;/artifactId&gt;
            &lt;version&gt;${kumuluz.version}&lt;/version&gt;
            &lt;type&gt;pom&lt;/type&gt;
            &lt;scope&gt;import&lt;/scope&gt;
        &lt;/dependency&gt;
    &lt;/dependencies&gt;
&lt;/dependencyManagement&gt;

&lt;dependencies&gt;
    &lt;!-- MicroProfile 1.0 --&gt;
    &lt;dependency&gt;
        &lt;groupId&gt;com.kumuluz.ee&lt;/groupId&gt;
        &lt;artifactId&gt;kumuluzee-microProfile-1.0&lt;/artifactId&gt;
    &lt;/dependency&gt;

    &lt;dependency&gt;
        &lt;groupId&gt;com.kumuluz.ee&lt;/groupId&gt;
        &lt;artifactId&gt;kumuluzee-jpa-hibernate&lt;/artifactId&gt;
    &lt;/dependency&gt;
&lt;/dependencies&gt;
	              	</code></pre>
	            </div>
			</div>
		</div>
  </div>
</div>
<script>
try{
  Prism.highlightAll();
}catch(err){}
</script>
