<div id="partners">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-3"><img src="/assets/images/companies/ak.png" width="130" class="img-responsive grayscale" alt="feature1" /></div>
      <div class="col-xs-12 col-sm-4 col-md-2"><img src="/assets/images/companies/cg.png" width="130" class="img-responsive grayscale" alt="feature1" /></div>
      <div class="col-xs-12 col-sm-4 col-md-2"><img src="/assets/images/companies/mju.png" width="130" class="img-responsive grayscale" alt="feature1" /></div>
    </div>
  </div>
</div>