@import "_variables";

#features {
	.feature {
		margin-top: 25px;
		transition: all 1s ease;

		&.first {

			.info {
				
				p {
					width: 100%;
				}
			}
		}

		.info {
			h4 {
				font-weight: normal;
				font-size: 28px;
				line-height: 32px;
				margin-top: 35px;
				text-shadow: 1px 1px 1px #fff;
			}

			p {
				color: #6C7279;
				margin-top: 20px;
				width: 75%;
				font-weight: normal;
			}
		}

		.image {
			padding: 50px 30px 30px 30px;
			min-height: 200px;
			height: 100%;

			img {
				max-height: 250px;
				max-width: 250px;
				margin: 0 auto;
			}
		}

		@media screen and (min-width: 992px) {
			&.backward {
				display: flex;

				.image {
					-webkit-order: 1;
					order: 1;
				}

				.info {
					-webkit-order: 2;
					oreder: 2;
				}
			}
		}
	}

	.divider {
	    height: 1px;
	    width: 100%;
	    background-color: #ddd;
	    position: relative;
	    margin: 30px 0;

	    &::before {
	    	content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.25)), color-stop(0.5, rgba(0, 0, 0, 0.75)), color-stop(1, rgba(250, 250, 250, 0)));
			background-image: -webkit-linear-gradient(left, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(250, 250, 250, 0) 100%);
			background-image: -moz-linear-gradient(left, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(250, 250, 250, 0) 100%);
			background-image: -o-linear-gradient(left, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(250, 250, 250, 0) 100%);
			background-image: -ms-linear-gradient(left, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(250, 250, 250, 0) 100%);
			background-image: linear-gradient(left, rgba(250, 250, 250, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(250, 250, 250, 0) 100%);
	    }
    }
}