@import "_variables_override";
@import "_bootstrap";
@import "material-design/material";
@import "material-design/ripples";

.navbar-brand {
    background: url(/img/kumuluz.png) no-repeat center center;
    background-size: contain;
    height: $navbar-height;
    min-width: 100px;
}