@import "../../assets/scss/variables";
@import "../../assets/scss/media-mixin";

.ee-support-page {
  .header {
    padding: 80px 0;
    @include header-image-gradient('../../assets/images/blue-cube.svg', 0);
    width: 100%;
    display: flex;
    justify-content: center;

    .title {

      h1 {
        font-family: $font-fjalla-one;
        font-size: 46px;
        color: white;
        font-style: normal;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    .description {
      margin-bottom: 40px;

      p {
        color: $blue-grey;
        font-size: 18px;
        font-family: $font-open-sans;
      }
    }
    .tiles {
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin-bottom: 100px;

      .tile-container {
        width: 48%;
        .tile {
          box-shadow: 0 7px 20px $shadow-grey;

          .tile-header {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;

            h2 {
              color: $blue-400;
              font-size: 23px;
              font-family: $font-fjalla-one;
              text-align: center;
            }
            p {
              margin-top: 10px;
              width: 62%;
              font-family: $font-open-sans;
              font-size: 21px;
              color: $blue-grey;
              text-align: center;
              margin-bottom: 20px;
              height: 100px;
            }
            .button {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-family: $font-fjalla-one;
              font-size: 20px;
              width: 220px;
              text-align: center;
              height: 45px;
              cursor: pointer;
              box-sizing: border-box;

              &:hover {
                border: 1px solid $white;
              }
            }
          }
          .hr {
            border: 2px solid $grey-line;
          }
          .tile-content {
            margin-top: 40px;
            padding-bottom: 40px;

            h4 {
              font-family: $font-open-sans;
              color: $blue-grey;
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 20px;
              margin-left: 40px;
            }

            .checkbox-item {
              display: flex;
              align-items: center;
              margin-left: 40px;
              margin-top: 20px;

              .image {
                margin-right: 10px;
              }
              .text {
                font-family: $font-open-sans;
                font-size: 18px;
                color: $blue-grey;
              }
            }
          }
        }
        .right-tile {
          .button {
            background-color: $blue-300;
          }

        }
        .left-tile {
          .button {
            background-color: $blue-200;
          }
        }
      }
    }
  }
}

@include device-specific($phone) {
  .ee-support-page {
    .header {
      .title {
        width: 90%;

        h1 {
          text-align: center;
        }
      }
    }
    .content {
      .description {
        width: 90%;

        p {
          text-align: center;
        }
      }
      .tiles {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;

        .tile-container {
          width: 100%;
          .tile {
            .tile-header {
              p {
                width: 75%;
              }
            }
          }
          .left-tile {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

@include device-specific($tablet) {
  .ee-support-page {
    .header {
      .title {
        width: 90%;
      }
    }
    .content {
      .description {
        width: 90%;
      }
      .tiles {
        width: 90%;

        .tile-container {
          width: 48%;
          .tile {
            .tile-header {
              p {
                width: 75%;
              }
            }
          }
        }
      }
    }
  }
}

@include device-specific($pc) {
  .ee-support-page {
    .header {
      .title {
        width: 60%;
      }
    }
    .content {
      .description {
        width: 60%;
      }
      .tiles {
        width: 60%;

        .tile-container {
          width: 48%;
          .tile {
            .tile-header {
              p {
                width: 62%;
              }
            }
          }
        }
      }
    }
  }
}

@include device-specific($tablet-landscape) {
  .ee-support-page {
    .header {
      .title {
        width: 90%;
      }
    }
    .content {
      .description {
        width: 90%;
      }
      .tiles {
        width: 90%;
      }
    }
  }
}
