@import "../../../assets/scss/variables";
@import "../../../assets/scss/media-mixin";

.ee-they-trust-us-component {
  margin-top: 20px;

  h1 {
    font-family: $font-fjalla-one;
    color: $blue-grey;
  }
  .references {
    .reference-item {
      position: relative;
      top: 0;
      left: 0;

      span {
        display: none;
      }
      &:hover {
        span {
          position: absolute;
          top:0;
          left: 0;
          background: rgba(255, 255, 255, 0.9);
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          width: 100%;

          p {
            font-family: $font-open-sans;
            text-align: center;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  .contact {
    text-align: center;
    font-family: $font-open-sans;
    color: $blue-grey;
    font-size: 18px;
    font-weight: 300;

    a {
      color: $blue-200;
      font-weight: bold;
    }
  }
}

@include device-specific($phone) {
  .ee-they-trust-us-component {
    width: 90%;
    margin-bottom: 80px;

    h1 {
      font-size: 32px;
      text-align: center;
    }
    .references {
      margin-top: 16px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .reference-item {
        display: flex;
        align-items: center;
        height: 100px;
        margin: 10px;
        width: 42%;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
@include device-specific($tablet) {
  .ee-they-trust-us-component {
    width: 75%;
    margin-bottom: 80px;

    h1 {
      font-size: 32px;
      text-align: center;
    }
    .references {
      margin-top: 16px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .reference-item {
        display: flex;
        align-items: center;
        height: 100px;
        margin: 10px;
        width: 21%;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
@include device-specific($pc) {
  .ee-they-trust-us-component {
    width: 50%;
    margin-bottom: 80px;

    h1 {
      font-size: 32px;
      text-align: center;
    }
    .references {
      margin-top: 16px;
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .reference-item {
        display: flex;
        align-items: center;
        max-height: 100px;
        margin: 10px;
        width: 21%;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
@include device-specific($tablet-landscape) {
  .ee-they-trust-us-component {
    width: 80%;
  }
}
@include device-specific($hd-plus) {
  .ee-they-trust-us-component {
    width: 50%;
    .references {
      .reference-item {
        justify-content: center;

        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}
