---
layout: default
---
<div id="post">
	{% include subtitle.html %}

	<div class="container">
		<div class="row header">
			<div class="col-md-3">
				<div class="tutorial-side-menu">
					<h3>Tutorials</h3>
					<a href="{{ site.posts[0].url | prepend: site.baseurl }}">Develop microservices with Java EE and KumuluzEE</a>

					<h3>Samples</h3>
					<h4>Java EE Microservices</h4>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/microservices-simple" target="_blank">Microservices simple</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jax-rs" target="_blank">JAX-RS REST service sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jax-ws" target="_blank">JAX-WS SOAP web service sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jpa" target="_blank">JPA and CDI sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jsf" target="_blank">Java Server Faces (JSF) sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jsp" target="_blank">Java Server Pages (JSP) and Servlet sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/servlet" target="_blank">Servlet sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/websocket" target="_blank">Websocket sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/bean-validation" target="_blank">Bean validation</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/https" target="_blank">JAX-RS over HTTPS</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jul" target="_blank">JUL sample</a>

					<h4>KumuluzEE Cloud-native Samples</h4>					
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-logs-log4j2" target="_blank">Logs sample (Log4j2)</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-logs-jul" target="_blank">Logs sample (JUL)</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-config" target="_blank">Config sample for built-in configuration sources</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-config-etcd" target="_blank">Config sample with etcd</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-config-consul" target="_blank">Config sample with Consul</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-security-keycloak" target="_blank">Security sample - Keycloak</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-security-cdi-keycloak" target="_blank">Security CDI - Keycloak</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-discovery-etcd/discovery-etcd-register" target="_blank">Discovery - register (etcd)</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-discovery-etcd/discovery-etcd-discover-servlet" target="_blank">Discovery - servlet (etcd)</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-discovery-etcd/discovery-etcd-discover-jaxrs" target="_blank">Discovery - JAX-RS (etcd)</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-discovery-etcd/discovery-etcd-kubernetes" target="_blank">Discovery - Kubernetes (etcd)</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-discovery-consul/discovery-consul-register" target="_blank">Discovery - Consul, register service</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-discovery-consul/discovery-consul-discover-servlet" target="_blank">Discovery - Consul, discover servlet</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-discovery-consul/discovery-consul-discover-jaxrs" target="_blank">Discovery - Consul, discover JAX-RS</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-rest" target="_blank">REST Sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-streaming-kafka/kumuluzee-streaming-kafka-consumer" target="_blank">Event Streaming Kafka - consume</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-streaming-kafka/kumuluzee-streaming-kafka-producer" target="_blank">Event Streaming Kafka - produce</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-cors" target="_blank">CORS sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-fault-tolerance-hystrix" target="_blank">Fault Tolerance (Hystrix)</a>					
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-metrics" target="_blank">Metrics sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-health" target="_blank">Health sample</a>
				</div>
			</div>
			<script>
				var links = document.querySelectorAll(".tutorial-side-menu > a");
				var href = window.location.href;
				for(var i=0; i<links.length; i++){
					if(links[i].href === href){
						links[i].classList.add("active");
					}
				}
			</script>
			<div class="col-md-9">
    			{{ content }}
  			</div>
  		</div>
  	</div>
</div>
