---
layout: default
---
<div id="post">
	{% include subtitle.html %}

	<div class="container">
		<div class="row header">
			<div class="col-md-3">
				<div class="tutorial-side-menu">
					<h3>Tutorials</h3>
					<a href="{{ site.posts[0].url | prepend: site.baseurl }}">Develop microservices with Java EE and KumuluzEE</a>

					<h3>Samples</h3>
					<h4>Java EE Microservices</h4>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/microservices-simple" target="_blank">Microservices simple</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jax-rs" target="_blank">JAX-RS REST service sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jax-ws" target="_blank">JAX-WS SOAP web service sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jpa" target="_blank">JPA and CDI sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jsf" target="_blank">Java Server Faces (JSF) sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/jsp" target="_blank">Java Server Pages (JSP) and Servlet sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/servlet" target="_blank">Servlet sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/websocket" target="_blank">Websocket sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/bean-validation" target="_blank">Bean validation</a>

					<h4>KumuluzEE Cloud-native Samples</h4>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-logs" target="_blank">Logs sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-config" target="_blank">Config sample for built-in configuration sources</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-config-etcd" target="_blank">Config sample with etcd</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/kumuluzee-oauth2-keycloak" target="_blank">OAuth2 sample</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/discovery/discovery-register" target="_blank">Discovery - register</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/discovery/discovery-discover-servlet" target="_blank">Discovery - servlet</a>
					<a href="https://github.com/kumuluz/kumuluzee-samples/tree/master/discovery/discovery-discover-jaxrs" target="_blank">Discovery - JAX-RS</a>
				</div>
			</div>
			<script>
				var links = document.querySelectorAll(".tutorial-side-menu > a");
				var href = window.location.href;
				for(var i=0; i<links.length; i++){
					if(links[i].href === href){
						links[i].classList.add("active");
					}
				}
			</script>
			<div class="col-md-9">
    			{{ content }}
  			</div>
  		</div>
  	</div>
</div>
